@charset "UTF-8";
/* CSS Document */

html, body {
	height: 100%;
	
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Play';
	font-size: 14pt;
}

::-webkit-scrollbar {
	width: 5pt;
}
 
::-webkit-scrollbar-track {
	background-color: #CCC;
}
 
::-webkit-scrollbar-thumb {
	background-color: #781903;
}

::selection {
	background: rgba(15,63,111,1);
	color: #FFF;
	text-shadow: 1px 1px 0 #000;
}

a::selection {
	color: rgba(199,219,39,1);
}

.scroll-indicator {
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
 
}

.progress-bar {
	height: 7px;
	background: linear-gradient(to right, #F00, #FF0);
	width: 0%;
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('images/Abstract-bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100%;
	animation: breath 30s linear infinite;
}

@keyframes breath {
	0% { background-size: 100% auto; }
	50% { background-size: 150% auto; }
	100% { background-size: 100% auto; }
}

.MainTitle {
	cursor: context-menu;
	animation-duration: 2s;
	animation-delay: .5s;
	color: #FFF;
	text-shadow: 3px 3px 10px #000;
	font-size: 36pt;
	font-weight: bold;
	text-align: center;
}

.MainTitle span {
	display: block;
}

.MainMGlogo, .MGlogo_topMenu {
	background-image: url('images/MG_WebStudio.png');
	background-size: cover;
}

.MainMGlogo {
	width: 360px;
	height: calc(360px / 1.6);
	margin: 0 auto;
}

.MGlogo_topMenu {
	width: 128px;
	height: calc(128px / 1.6);
}

.MainTitleName {
	color: rgba(255,231,50,1);
	padding-bottom: 15px;
}

.MainTitleStatus {
	font-size: 18pt;
}

.topMenu {
	position: fixed;
	display: table;
	top: 0;
	width: 100%;
	z-index: 2;
	transition: .4s ease;
}

.topMenu > .SideNavButton {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
	z-index: 3;
	color: #FFF;
	text-shadow: 2px 2px 0 #000;
	font-size: 30pt;
	cursor: pointer;
	transition: .3s ease;
}

.topMenu > #menu-center {
	vertical-align: middle;
	text-align: right;
}

.topMenu > #menu-center span {
	color: #FFF;
	text-shadow: 1px 1px 0px #000;
}

.topMenu a {
	color: #FFF;
	font-size: 16pt;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #000;
	transition: .3s ease;
	padding: 7px;
	border-radius: 10px;
}

.topMenu a:hover {
	background: #C7DB27;
	transition: .3s ease;
}

.topMenu span:after {
    content: '\2022';
	padding-right: 0px;
	padding-left: 3px;
	font-weight: bold;
	font-size: 18pt;
	color: #FFF;
}

.topMenu span:last-of-type:after {
    content: '';
}

.topMenu span:last-child {
	margin-right: 0px;
}

.topMenu.menuScrolling {
	background: rgba(199,219,39,1);
	box-shadow: 0px 15px 10px -15px #111;
}

.topMenu.menuScrolling a:hover, .topMenu .active {
	background: rgba(15,63,111,1);
	transition: .3s ease;
}

.BtnHome {
	background: none;
	border: 0;
}

.BtnHome i {
	color: #FFF;
	text-shadow: 1px 1px 0px #000;
	transition: .3s ease;
}

.BtnHome i:hover {
	color: rgba(199,219,39,1);
	cursor: pointer;
}

.menuScrolling .BtnHome i:hover {
	color: rgba(15,63,111,1);
	cursor: pointer;
}

button:focus, button:active {
	outline: 0 !important;
}

.SideNav {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	padding-top: 75px;
	z-index: 4;
	overflow-x: hidden;
	white-space: nowrap;
	background-color: rgba(15,63,111,1);
	transition: .5s ease;
}

.SideNav a {
	padding: 10px;
	text-decoration: none;
	font-size: 20pt;
	color: #FFF;
	display: block;
 	transition: .35s ease;
}

.SideNav a:hover {
	background: #FFF;
	transition: .35s ease;
	color: #000;
}

.SideNav .CloseNavButton {
	position: absolute;
	padding: 0;
	top: 0;
	right: 25px;
	font-size: 40pt;
	color: #FFF;
}

.SideNav_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.5);
}

.SideNav_overlay-animate-opacity {
	animation: opac 0.5s;
}

@keyframes opac{from{opacity:0} to{opacity:1}}

.section_description {
	padding: 50px 2%;
	margin: 0 20px;
	line-height: 150%;
	text-align: justify;
	cursor: context-menu;
	height: auto;
	color: #303C53;
}

.main-div:last-of-type > .section_description {
	padding-bottom: calc(125px + 40px);
}

.section_description h2 i {
	color: #0F3F6F;
}

.section_description h2 {
	text-align: left !important;
	line-height: 130% !important;
}

.section_description a {
	text-decoration: none;
	font-weight: bold;
	color: rgba(15,63,111,1);
	transition: .3s ease;
}

.section_description a:hover {
	color: #880015;
	transition: .3s ease;
} 

.section_title_general-information, .section_title_publications,
.section_title_references, .section_title_contact {
	color: #FFF;
	width: calc(100%);
	text-transform: uppercase;
	font-size: 36pt;
	font-weight: bold;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-shadow: 3px 3px 10px #000;
	display: table;
	border-top: 10px solid rgba(15,63,111,1);
}

.section_title_general-information span, .section_title_publications span,
.section_title_references span, .section_title_contact span {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	cursor: context-menu;
}

.section_title_general-information {
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('images/introduction.jpg');
}
	
.section_title_publications {
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('images/publications.jpg');
}

.section_title_references {
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('images/references.jpg');
}

.section_title_contact {
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('images/contact.jpg');
}

.container_intro {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.section_intro {
	flex: 1;
	margin: 0 10px;
	padding: 10px;
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.5);
	background: #F1F1F1;
	color: #303C53;
	border-radius: 10px;
}

.section_intro h2 {
	padding-left: 60px;
	text-indent: -.8em;
}

.section_intro h3 {
	padding-left: 15px;
	
}

.section_intro h2 i {
	width: 0.55em;
	color: #303C53;
}

.section_intro a {
	color: #303C53;
}

.section_intro a:hover {
	color: #C7DB27;
}

.section_intro:nth-of-type(odd) {
	margin-top: 40px;
	margin-bottom: -30px;
}

.section_intro:nth-of-type(even) {
	margin-top: 80px;
	margin-bottom: 15px;
}

.pont li, .pont2 li, .pont3 li {
	list-style-type: none;
	text-indent: -.5em;
	line-height: 130% !important;
	padding-bottom: 10px;
	text-align: left !important;
}

.pont li:before {
	content: "\2022";
	color: rgba(117,160,0,1);
	display: inline-block;
	width: 0.5em;
}

.pont2 li:before {
	content: "\2022";
	color: #F00;
	display: inline-block;
	width: 0.5em;
}

.pont3 li:before {
	content: "\25A0";
	color: #C7DB27;
	display: inline-block;
	width: 0.5em;
}

.section_intro .pdf li, .section_intro .link li {
	list-style-type: none;
	text-indent: -1.5em;
	padding-bottom: 15px;
	padding-left: 10px;
	text-align: left;
	line-height: 130%;
}

.section_intro .pdf li:before {
	content: "\f1c1";
	font-family: "Font Awesome 5 Pro";
	color: #F00;
	margin-right: 10px;
}

.section_intro .pdf_fajl:before {
	content: "\f1c1";
	font-family: "Font Awesome 5 Pro";
	color: #F00;
	margin-left: 5px;
	font-weight: normal !important;
}

.section_intro .pdf_fajl:hover {
	text-shadow: none !important;
}

.section_intro .link li:before {
	content: "\f0ac";
	font-family: "Font Awesome 5 Pro";
	color: rgba(17,62,112,1);
	margin-right: 10px;
}

.sitefoot_pteLogo {
	background: url('images/PTE_Logo.png') no-repeat;
	background-size: contain;
	width: 180px;
	height: 180px;
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.sitefoot_ttkLogo {
	background: url('images/TTK_Logo.png') no-repeat;
	background-size: contain;
	width: 180px;
	height: 180px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.sitefoot_text {
	color: white;
	text-align: center;
	margin-top: 60px;
	line-height: 160%;
}

.sitefoot_mgLogo {
	background: url('images/MG_WebStudio.png') no-repeat;
	background-size: contain;
	width: 400px;
	height: 250px;
	margin: 0 auto;
}

.footer_mgLogo {
	position: absolute;
	top: -125px;
	background: rgba(33,108,156,1);
	width: 60%;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	border-radius: 20px;
}

.sitefoot_validate {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -70px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: rgba(33,108,156,1);
	width: 100%;
	padding: 10px 0;
	color: white;
}

.supsub {
    display: inline-block;
}

.supsub sup, .supsub sub {
    position: relative;
    display: block;
    font-size: .7em;
    line-height: 0.7;
}

.supsub sub {
    top: .5em;
}

.figures {
	text-align: center;
	counter-increment: figures;
}

.figures figcaption::before {
	content: '' counter(figures) '. ábra. ';
	padding-right: .4em;
	font-weight: bold;
	font-style: normal;
}

.figures div {
	margin: 10px auto;
	background-size: cover;
}

.figures figcaption {
	font-style: italic;
}

.figures div {
    display: inline-block;
}

figure {
	margin: 10px auto;
}

figure > figure {
	margin: 0;
	display: inline-block;
}

.subfigure figcaption::before {
	content: '';
}

.subfigure figcaption {
	font-weight: bold;
	font-style: normal;
}

.FigQS_1, .FigQS_2 {
	width: 400px;
	height: 330px;
}

.FigQS_1 {
	background: url('images/Fig_QuantumStates_1.jpg');
}

.FigQS_2 {
	background: url('images/Fig_QuantumStates_2.jpg');
}

.FigOptSys {
	background:url('images/Fig_OptSys.jpg');
	width: 500px;
	height: 350px;
}

.FigQS_1, .FigQS_2, .FigOptSys {
	border: 2px solid #CCC;
	box-shadow: 0px 15px 10px -15px #111;
}

ol.cikkek { 
	counter-reset: item;
	list-style-type: none !important; 
	padding-left: 20px;
} 

ol.cikkek li {
	position: relative;
	padding-left: 2.5em;
	padding-bottom: 10px;
	line-height: 130%;
}

ol.cikkek li:before { 
	content: "[" counter(item) "] "; 
	counter-increment: item; 
	position: absolute;
	left: 0;
	font-weight: bold;
}

.rating {
	display: inline-flex;
	flex-direction: row-reverse;
	box-sizing: border-box;
	background: linear-gradient(to right, #F00, #FF0, #0F0);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 5px 9px -3px rgba(161,161,161,1);
	margin-left: 10px;
}

.rating input {
	display: none;
}

.rating label {
	display: block;
	width: 50px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	color: black;
	font-size: 10pt;
}

.rating input[type="radio"]:checked ~ label {
	background: transparent;
	font-weight: bold;
}

.experience:first-child {
	margin-top: 0;
}

.experience {
	margin-top: 20px;
}

.experience-box {
	display: inline-block;
	text-align: right;
	padding-left: 0px;
}

.container_web, .container_web_contact {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.section_web {
	flex: 1;
	text-align: center;
	margin-bottom: 25px;
}

.section_web > figcaption {
	font-weight: bold;
	margin-top: 15px;
}

.website_images, .website_images:after {
	width: 340px;
	height: calc(340px / 2.0513);
}

.website_images {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all .5s ease;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 20px 20px -20px #111;
}

.website_images:hover {
	cursor: pointer;
	background-size: 150% 150%;
}

.website_images:after {
	background-color: rgba(0,0,0,0.4);
	content: 'Megnyitás';
	font-size: 2em;
	font-weight: bold;
	text-shadow: 0px 2px 5px black;
	color: white;
	opacity: 0;
	transition: opacity .5s linear;
	display: flex;
	align-items: center;
	justify-content: center;
}

.website_images:hover:after {
    opacity: 1;
}

.FizInt {
	background-image: url('images_websites/fiz_int_weboldal.jpg');
}

.FizInt2 {
	background-image: url('images_websites/fiz_int_adatlap.jpg');
}

.FizDI {
	background-image: url('images_websites/fiz_doktori_weboldal.jpg');
}

.FizNYD {
	background-image: url('images_websites/fiz_int_nyari_diakegyetem_weboldal.jpg');
}

.MathPannonica {
	background-image: url('images_websites/mathematica_pannonica_weboldal.jpg');
}

.contacts {
	list-style-type: none;
	margin-left: -20px;
	font-size: 16pt;
}

.contacts li {
	padding-bottom: 10px;
}

.contacts li:last-child {
	padding-bottom: 0;
}

.contacts i {
	font-size: 18pt;
}

.contact_logo i {
	font-size: 120pt;
	display: block;
	cursor: pointer;
}

.contact_logo > span {
	font-weight: bold;
	transition: .3s ease;
}

.contact_logo:hover > span {
	color: #880015;
	transition: .3s ease;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(15,63,111,1);
	position: relative;
	height: 300px;
}

.fa-desktop {
	margin-right: 5px;
}

.fa-tablet {
	font-size: 16pt;
}

.fa-mobile-phone {
	margin:0 5px;
	font-size: 18pt;
}

.footer-validated-html {
	display: inline-block;
	background-image: url('images/W3C_Validated.png');
	background-size: cover;
	width: 120px;
	height: 53px;
	margin-right: 5px;
	cursor: pointer;
}

.footer-validated-css {
	display: inline-block;
	background-image: url('http://jigsaw.w3.org/css-validator/images/vcss');
	background-size: cover;
	width: 88px;
	height: 31px;
	margin-right: 5px;
	cursor: pointer;
}

.footer-web_element {
	display: inline-block;
	background-image: url('images/Web_Elements.png');
	background-size: cover;
	width: 130px;
	height: 45px;
}

@media only screen and (min-width: 340px) {
	.topMenu > #menu-center {
		display: none;
	}	
	
	.MainTitle {
		font-size: 24pt;
	}
	
	.MainTitleStatus {
		font-size: 16pt;
	}

	.pte-logo-text, .ttk-logo-text {
		display: none;
	}
}

@media only screen and (min-width: 340px) and (max-width: 900px) {
	.MainTitle {
		font-size: 24pt;
	}
	
	.section_title_general-information, .section_title_publications,
	.section_title_references, .section_title_contact {
		font-size: 24pt;
		height: 180px;
	}
	
	.MainTitleStatus {
		font-size: 16pt;
	}
	
	.MGlogo_topMenu {
		width: 100px;
		height: calc(100px / 1.6);
	}
	
	.section_description {
		text-align: left;
	}

	.section_intro:nth-of-type(odd), .section_intro:nth-of-type(even) {
		margin: 10px -10px;
	}
	
	.experience-box, .rating {
		width: 300px;
	}
	
	.experience-box {
		text-align: left;
	}
	
	.container_web_contact {
		grid-template-columns: none;
	}
	
	.sitefoot_pteLogo, .sitefoot_ttkLogo {
		width: 100px;
		height: 100px;
	}
	
	.sitefoot_mgLogo {
		width: 180px;
		height: 113px;
	}
	
	footer {
		height: 220px;
	}
	
	.footer_mgLogo {
		top: -60px;
	}
	
	.sitefoot_text {
		font-size: 8pt;
		margin-top: 0px;
	}
	
	.FigQS_1, .FigQS_2 {
		width: 290px;
		height: 239px;
	}

	.FigOptSys {
		width: 290px;
		height: 203px;
	}
	
	.website_images, .website_images:after {
		width: 290px;
		height: calc(290px / 2.0513);
	}
}

@media only screen and (min-width: 900px) and (max-width: 1152px) {
	.website_images, .website_images:after {
		width: 540px;
		height: calc(540px / 2.0513);
	}
}

@media only screen and (min-width: 1152px) {
	.MainTitle {
		font-size: 36pt;
	}
	
	.website_images, .website_images:after {
		width: 540px;
		height: calc(540px / 2.0513);
	}
	
	.MainTitleStatus {
		font-size: 24pt;
	}
	
	.topMenu > #menu-center {
		display: table-cell;
	}
	
	.topMenu > .SideNavButton {
		display: none;
	}
}

@media only screen and (max-width: 1152px) {
	.home {
		animation: none;
	}
	
	.container_intro {
		grid-template-columns: none;
	}
}

@media only screen and (max-width: 1230px) {
	.container_web {
		grid-template-columns: none;
	}
}

@media only screen and (min-width: 1230px) {
	.website_images, .website_images:after {
		width: 340px;
		height: calc(340px / 2.0513);
	}
}
