html {
    scrollbar-color: #781903 var(--bs-gray-100);
}

body {
    font-family: Play;
    font-size: 14pt
}

img {
    height: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #781903;
    border-radius: 1rem;
}

::selection {
    background: #0f3f6f;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.scroll-indicator {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 7px;
    background: linear-gradient(to right, red, #ff0);
    /* Scroll indicator anim치ci칩 (JavaScript helyett) */
    animation-name: scroll-indicator;
    animation-timeline: scroll();
}

/* Scroll indicator anim치ci칩 (JavaScript helyett) */
@keyframes scroll-indicator {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.card {
    height: 100% !important;
    --bs-card-border-width: 0 !important
}

.card .card-header h4 {
    margin-bottom: 0;
    padding: 10px 0;
}

.card .card-header img {
    height: 60px;
    width: auto;
}

.supsub {
    display: inline-block;
}

.supsub sub, .supsub sup {
    position: relative;
    display: block;
    font-size: .7em;
    line-height: .5;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.scroll-top {
    background: var(--bs-primary) url('/assets/img/cd-top-arrow.svg') no-repeat center 50%;
    position: fixed;
    right: -70px;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .5);
    width: 60px;
    height: 60px;
    border-radius: var(--bs-border-radius-lg) !important;
    opacity: .8;
    transition: .5s;
}

.scroll-top:hover {
    opacity: 1;
}

.pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    right: 75px;
    top: -3px;
    transform: rotate(-30deg);
}

.pin::after {
    background-color: #781903;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .3), inset 3px 3px 3px hsla(0, 0%, 100%, .3), inset -3px -3px 3px hsla(0, 0%, 0%, .3), 23px 20px 3px hsla(0, 0%, 0%, .3);
    content: '';
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
}

.pin::before {
    background-color: hsla(0, 0%, 0%, .3);
    box-shadow: 0 0 .25em hsla(0, 0%, 0%, .3);
    content: '';
    height: 24px;
    width: 2px;
    position: absolute;
    left: 0;
    top: 8px;
    transform: rotate(57.5deg);
    -moz-transform: rotate(57.5deg);
    -webkit-transform: rotate(57.5deg);
    -ms-transform: rotate(57.5deg);
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/assets/img/Abstract-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

@media (min-width: 1152px) {
    .main-header {
        animation: 30s linear infinite breath;
    }
}

@keyframes breath {
    0%, 100% {
        background-size: 150% auto;
    }
    50% {
        background-size: 180% auto;
    }
}

.main-header img {
    width: 360px;
}

.main-header h1 {
    color: #ffe732;
    font-weight: 700;
    text-shadow: 3px 3px 10px #000;
}

.navbar {
    --bs-navbar-padding-y: 0 !important
}

.navbar .navbar-brand img {
    width: 90px;
}

.navbar .nav-link {
    position: relative;
}

@media (min-width: 768px) {
    .navbar .nav-link.active::after, .navbar .nav-link::after {
        content: '';
        height: 1px;
        background: #ffe732;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width .4s;
    }

    .navbar .nav-link::after {
        width: 0;
    }

    .navbar .nav-link.active::after, .navbar .nav-link:hover::after {
        width: 90%;
    }
}

main #bemutatkozas .section-heading {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) fixed, url('/assets/img/introduction.jpg') fixed;
}

main #referenciak .section-heading {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) fixed, url('/assets/img/references.jpg') fixed;
}

main #publikaciok .section-heading {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) fixed, url('/assets/img/publications.jpg') fixed;
}

@media (min-width: 300px) and (max-width: 767px) {
    .section-heading {
        padding: 50px 20px !important;
    }
}

.section-heading {
    padding: 100px 20px;
    color: #fff;
    border-top: 10px solid #0f3f6f;
    text-transform: uppercase;
    background-position: center !important;
    background-size: cover !important;
}

.section-heading p {
    font-weight: 700;
    margin-bottom: 0;
}

.accordion .accordion-body ol.cikkek {
    counter-reset: item;
    list-style-type: none !important;
    padding-left: 35px;
    position: relative;
    margin-bottom: 0;
}

.accordion .accordion-body ol.cikkek li::before {
    content: "[" counter(item) "] ";
    counter-increment: item;
    position: absolute;
    left: 0;
    font-weight: 700;
}

footer {
    position: relative;
    margin-top: 90px;
}

footer img.logo {
    width: 245px;
}

footer .w3c_validated {
    position: absolute;
    top: -15px;
    right: 30px;
    transform: rotate(20deg);
    width: 120px;
}

footer ul li.list-inline-item {
    margin: 0 15px;
}

[data-toc="tartalomjegyzek"] ul li > ul {
    display: none;
    transition: all 0.3s ease;
}

[data-toc="tartalomjegyzek"] ul li > ul:has(li > .nav-link.active) {
    display: block;
    transition: all 0.3s ease;
}

[data-toc="tartalomjegyzek"].sticky-top {
    top: 30px !important;
    /*height: calc(100vh - 4rem);*/
}

[data-toc="tartalomjegyzek"] .nav-link.active, [data-toc="tartalomjegyzek"] .nav-link:hover,
[data-toc="tartalomjegyzek"] ul li:has(li > .nav-link.active) > .nav-link,
[data-toc="tartalomjegyzek"] ul li:has(.nav-link.active)::marker,
[data-toc="tartalomjegyzek"] ul li:has(.nav-link:hover)::marker {
    color: var(--bs-danger);
    font-weight: bold;
}